.add, .add-person, .delete{
  width: 20px;
  height: 20px;
  padding-right:3px;
  padding-top: 3px;
  display:inline-block;
}
.house-heater-add, .house-heater-delete{
  width: 100%;
  height: 100%
}
